.navbar-menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item{
    margin: 10px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: black;
text-decoration: underline;
}

/* selected link */
a:active {
color: black;
}

.div-center{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.div-center-1{
    display: flex;
    justify-content: center;
}

/* rounded input entry */
.round-search-input{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 584px;
    max-width: 584px;
    margin-top: 20px;
    padding-left: 30px;
}

.btn-google{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
}


/* Advanced Search Page */
.h1-advanced-search{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line-advanced-search{
    border-bottom: 1px solid #ebebeb;
}

.h2-advanced-search{
    font-size: 16px;
    color: #333333;
}

.div-advanced-search{
    margin: 40px;
}

.row-input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:20px;
}


.left{
    width: 200px;
}

.right{
    width: 385px;
}

.paragraph-advanced-page{
    font-size: 13px;
    vertical-align: middle;
}

.btn-advanced-page-div{
    display: flex;
    justify-content: flex-end;
    width: 585px;
    margin-top: 20px;
}
