{% extends "auctions/layout.html" %}

{% block body %}

<h2 >My Won Bids</h2>

<div class="container-fluid content-row">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5">
        {% for listing in bids_won_by_user %}
        <div class="col" id="eachcard">
            <div class="card h-100">
                <img src="{{ listing.imageURL }}" class="card-img-top" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">Initial Price: ${{ listing.starting_price }}</p>
                        <a href="{% url 'listing_page_info' id=listing.id %}" class="btn btn-primary">See Listing</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created on: {{ listing.creation_date }}</small>
                    </div>
            </div>
        </div>
        {% empty %}
        <p>You didn't win any bids yet.</p>
        {% endfor %}
    </div>
</div>



{% endblock %}